body {
    font-family: 'Sarala', sans-serif;
    margin: 60px auto;
    color: #616d8c;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Sarala', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Sarala', sans-serif;
    color: #616d8c;

}
h3	{color: #555cda;
    background: #f5f5f5;
}
.quote {
	padding-top: 30px;
	font-size: 2.5em;
	line-height: 1.95em;
	color: #90a29d;
	background: rgba(255,255,255,.5);
}
.quote::first-letter {font-size: 4em}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #616d8c;
}

/* .holder {
    position: absolute;
	top: 155px;
	opacity:.5;
} */
.quest1 {
	position: absolute;
	left: -65px;
	top: 225px;

	transform: rotate(90deg);
}
	
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

