body {
    font-family: 'Sarala', sans-serif;
    margin: 60px auto;
    color: #616d8c;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Sarala', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Sarala', sans-serif;
    color: #616d8c;

}
h3	{color: #555cda;
    background: #f5f5f5;
}
.quote {
	font-size: 2.5em;
	line-height: 1.95em;
	color: #90a29d;
	background: rgba(255,255,255,.5);
}
.quote::first-letter {font-size: 4em}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #616d8c;
}

.holder {
    position: absolute;
	opacity:.5;
}
.quest1 {
	padding: 40px, 0, 0, 75px;
	position: absolute;
	transform: rotate(90deg);
}
	
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*
Media Queries
--------------------------- */
/* @media (max-width: 1110px) {
  body {
    /* font-size: 0.875em; */
  }

/*  .site-title .h1 {
    font-size: 1.2em;    /* was 1.2 */
  } */
}*/


/*  @media (max-width: 900px) {

  body {
    width: 60%;
  }

}*/

@media (max-width: 500px) {
	
	body .container {
		max-width: 85%;
		width: 85%;
}




}


